
#menu {
	background-color: #222;
	.pure-menu-heading:hover, .pure-menu-heading:focus, a {
		color: #999;
	}
	.pure-menu-selected {
		background: #28d;
		a {
			color: #fff;
		}
	}
}

#content {
	thead a {
		text-decoration : inherit;
		color : inherit;
		
	}
}
