* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #fff;
	height: 100%;
}

body {
	color: #333333;
	font: 0.75em / 1.5em Arial, sans-serif;
}

.container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 96%;
}

#nav {
	margin: 0;
	padding: 0;
	border-bottom: 5px solid #333333;
	background-color: #F5F5F5;
	float: left;
	position: relative;
	width: 100%;
	span {
		display: none;
	}

	ul {
		list-style: none outside none;
		margin: 0;
		padding: 0;
	}

	li a {
		display: block;
		text-decoration: none;
		-moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
		-ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
		-o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
		-webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
		transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
		white-space: normal;
	}

	ul li {
		float: left;
		text-align: left;
		&.open ul {
			display: block;
		}
	}

	ul ul li {
		float: none;
	}

	ul ul ul li {
		padding-left: 8px;
		-moz-transition: padding 150ms ease-out 0s;
		-ms-transition: padding 150ms ease-out 0s;
		-o-transition: padding 150ms ease-out 0s;
		-webkit-transition: padding 150ms ease-out 0s;
		transition: padding 150ms ease-out 0s;
		&:hover {
			padding-left: 15px;
		}
	}
	
	ul {
		
	}
	
	ul ul {
		background-color: #FFFFFF;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
		color: #333333;
		display: none;
		top: 54px;
		position: absolute;
		left :0;
		right : 0;
	}
	
	ul ul ul {
		box-shadow : none;
		position: relative;
		top:0;
	}

	& > ul > li {
		-moz-transition: all 300ms ease-in-out 0s;
		-ms-transition: all 300ms ease-in-out 0s;
		-o-transition: all 300ms ease-in-out 0s;
		-webkit-transition: all 300ms ease-in-out 0s;
		transition: all 300ms ease-in-out 0s;
		& > a {
			color: #333333;
			font-size: 1.3em;
			line-height: 49px;
			padding: 0 15px;
			text-transform: uppercase;
		}

		&:hover > a , & > a:hover {
			background-color: #F55856;
			color: #FFFFFF;
		}
	}


	ul ul.subs {
		padding: 2%;
		li a:hover {
			color: #F55856;
		}

		& > li {
			display: inline-block;
			padding: 10px 1%;
			vertical-align: top;
			width: 33%;
			a {
				color: #777777;
				line-height: 20px;
			}

			& > a {
				font-size: 1.3em;
				margin-bottom: 10px;
				text-transform: uppercase;
			}
		}
	}
}

#nav li.active > a {
	background-color: #333333;
	color: #FFFFFF;
}

@media all and (max-width: 980px) {
	#nav > ul > li {
		float: none;
		border-bottom: 0;
		margin-bottom: 0;
	}

	#nav ul.subs {
		position: relative;
		top: 0;
	}

	#nav li:hover ul.subs {
		display: none;
	}

	#nav li #s1:target + ul.subs , #nav li #s2:target + ul.subs {
		display: block;
	}

	#nav ul.subs > li {
		display: block;
		width: auto;
	}
}

