* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #fff;
	height: 100%;
}

body {
	color: #333333;
	font: 0.75em / 1.5em Arial, sans-serif;
}

.container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 96%;
}

#nav {
	margin: 0;
	padding: 0;
	border-bottom: 5px solid #333333;
	background-color: #F5F5F5;
	float: left;
	position: relative;
	width: 100%;
	li a , ul {
		-moz-transition: all 450ms ease-in-out 0s;
		-ms-transition: all 450ms ease-in-out 0s;
		-o-transition: all 450ms ease-in-out 0s;
		-webkit-transition: all 450ms ease-in-out 0s;
		transition: all 450ms ease-in-out 0s;
	}

	ul {
		list-style: none outside none;
		margin: 0;
		padding: 0;
		li {
			@media all and (min-width: 300px) {
				float: left;
			}

			text-align: left;
			&.open ul {
				display: block;
			}

			&.active > a {
				background-color: #333333;
				color: #FFFFFF;
			}

			a {
				display: block;
				text-decoration: none;
				white-space: normal;
				color: #333333;
				font-size: 1.3em;
				line-height: 49px;
				padding: 0 15px;
				text-transform: uppercase;
				&:hover {
					background-color: #F55856;
					color: #FFFFFF;
				}
			}
		}

		ul {
			background-color: #FFFFFF;
			box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
			color: #333333;
			display: none;
			@media all and (min-width: 300px) {
				position: absolute;
				margin: 5px 0 0 0;
				padding: 10px;
				left: 0;
				right: 0;
			}

			li {
				@media all and (min-width: 300px) {
					display: inline-block;
					float: none;
					vertical-align: top;
					width: 33%;
					padding: 10px 1px;
				}

				a {
					color: #777777;
					font-size: 1.3em;
					@media all and (min-width: 300px) {
						line-height: 20px;
					}

					&:hover {
						color: #F55856;
						background: none;
					}
				}
			}

			ul {
				box-shadow: none;
				position: relative;
				padding: 0;
				li {
					display: block;
					width: 100%;
					padding: 0 0 0 8px;
					-moz-transition: padding 150ms ease-out 0s;
					-ms-transition: padding 150ms ease-out 0s;
					-o-transition: padding 150ms ease-out 0s;
					-webkit-transition: padding 150ms ease-out 0s;
					transition: padding 150ms ease-out 0s;
					&:hover {
						padding-left: 15px;
					}

					a {
						@media all and (min-width: 300px) {
							font-size: 1em;
							text-transform: none;
						}
					}
				}
			}
		}
	}
}

