@import "variables.less";
@import "normalize-3.0.2.less";
@import "functions.less";
* {
	box-sizing: border-box
}

body {
	color: @text-color;
	font: 0.75em / 1.5em @font
}

a {
	text-decoration: none;
	color: @theme-color;
}

@font-face {
	font-family: 'Press Start 2P';
	font-weight: 400;
	font-style: normal;
	src: local('Press Start 2P'), local('Press-Start-2P-regular'), url('../../font/Press-Start-2P-regular.eot'), url('../../font/Press-Start-2P-regular.woff2') format('woff2'), url('../../font/Press-Start-2P-regular.woff') format('woff'), url('../../font/Press-Start-2P-regular.ttf') format('truetype'), url('../../font/Press-Start-2P-regular.svg') format('svg');
}

@import "structure.less";
@import "banner.less";
@import "menu.less";
.side {
	& > div {
		margin-top: 3em;
	}

	h1 {
		text-align: center;
		background-color: @theme-grey;
		border-bottom: @theme-border-color solid @theme-border-width;
		padding: 1em 0;
		font-family: @font-alternate;
		font-size: 1.2em;
	}
}

article {
	margin-top: 3em;
	h1 , h2 , h3 , h4 , h5 , h6 {
		font-family: @font-alternate;
		color: @theme-color;
	}

	p {
		text-align: justify;
	}

	header img {
		margin: 0 auto;
		border: 1px solid black;
		border-radius: 3px;
		display: block;
		max-width: 90%;
	}
}

footer.footer {
	.container {
		margin-top: 4em;
		min-height: 8em;
		background-color: @theme-dark;
		border-top: @theme-border-width solid @theme-grey;
		color: @theme-grey;
		span {
			text-align: center;
			display: block;
		}
	}
}

