@import "variables.less";
@import "normalize-3.0.2.less";
@import "functions.less";
* {
	box-sizing: border-box
}

body {
	color: @text-color;
	font: 0.75em / 1.5em @font
}

.container {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	@media (min-width: @min-sm) {
		max-width: 750px;
	}

	@media (min-width: @min-md) {
		max-width: 970px;
	}

	@media (min-width: @min-lg) {
		max-width: 1170px;
	}

	.main {
		width: 80%;
		float: left;
		padding: 0 1.5em;
	}

	.side {
		width: 20%;
		float: left;
	}

	&:after {
		content: "";
		display : block; 
		clear: both;
	}
}

a {
	text-decoration: none;
	color: @theme-color;
}

@import "banner.less";
@import "menu.less";
.side {
	& > div {
		margin-top: 3em;
	}

	h1 {
		text-align: center;
		background-color: @theme-grey;
		border-bottom: @theme-border-color solid @theme-border-width;
		padding: 1em 0;
		font-family: @font-alternate;
		font-size: 1.2em;
	}
}

article {
	margin-top: 3em;
	h1 , h2 , h3 , h4 , h5 , h6 {
		font-family: @font-alternate;
		color: @theme-color;
	}

	p {
		text-align: justify;
	}

	header img {
		margin: 0 auto;
		border: 1px solid black;
		border-radius: 3px;
		display: block;
	}
}

footer.footer {
	.container {
		margin-top: 4em;
		min-height: 8em;
		background-color: @theme-dark;
		border-top: @theme-border-width solid @theme-grey;
		color: @theme-grey;
		span {
			text-align: center;
			display: block;
		}
	}
}

