<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>Blog</display-name>

	<listener>
		<listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
	</listener>

	<resource-env-ref>
		<resource-env-ref-name>BeanManager</resource-env-ref-name>
		<resource-env-ref-type>javax.enterprise.inject.spi.BeanManager</resource-env-ref-type>
	</resource-env-ref>

<!-- 	<servlet> -->
<!-- 		<servlet-name>HomeJsp</servlet-name> -->
<!-- 		<jsp-file>/jsp/home.jsp</jsp-file> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>HomeJsp</servlet-name> -->
<!-- 		<url-pattern>/jsp/home.jsp</url-pattern> -->
<!-- 	</servlet-mapping> -->

<!-- 	<servlet> -->
<!-- 		<servlet-name>ArticleJsp</servlet-name> -->
<!-- 		<jsp-file>/jsp/article.jsp</jsp-file> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>ArticleJsp</servlet-name> -->
<!-- 		<url-pattern>/jsp/article.jsp</url-pattern> -->
<!-- 	</servlet-mapping> -->

	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>shionn.blog.home.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>

<!-- 	<servlet> -->
<!-- 		<servlet-name>Article</servlet-name> -->
<!-- 		<servlet-class>shionn.blog.home.Article</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>Article</servlet-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</servlet-mapping> -->



</web-app>
